 <h1>My To-do Lists</h1>
<a href="#">Make another to-do list</a>
<!--@list_name = 'shoes'-->
<!--<% if @list_name == 'shoes' %>-->
<!--<%= 'the list name is shoes!' %>-->
<!--	puts 'the list name is shoes!'-->
<!--else -->
<!--	puts 'the list name is not shoes.'-->
<!--end-->
<!--@my_name = 'savera'-->
<!--if @my_name == 'savera'-->
<!--	@my_name = 'alaina'-->
<!--	puts @my_name-->
<!--else -->
<!--	@my_name = 'james'-->
<!--	puts @my_name-->
<!--end-->
<!--@my_food='greenbean'-->
<!--if @my_food='greenbean'-->
<!--@my_food='broccoli'-->
<!--puts @my_food-->
<!--else-->
<!--@my_food='tomato'-->
<!--puts @my_name-->
<!--end-->
<ul>
  <h2>Homework</h2>
  <li>
    <input type="checkbox"></input>
    <span>Complete all missed assignments - Physics</span>
    <strong>4 pomodoros</strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span>Study rehtoric section for quiz - Communications</span>
    <strong>2 pomodoros</strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span>Complete lab assignment #1 - AP world history</span>
    <strong>3 pomodoros</strong>
  </li>
</ul>

<ul>
  <h2>Chores</h2>
  <li>
    <input type="checkbox"></input>
    <span>wash dishes</span>
    <strong>2 pomodoros</strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span>clean room</span>
    <strong>1 pomodoro</strong>
  </li>
</ul>